@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
  font-family:Outfit;
}

select,input,textarea{
  outline-color:#c586a5;
  border:1px solid #c2c2c2;
  padding:8px 12px;
  border-radius:6px;
  font-family:Outfit;
  font-size:14px;
  transition:all 0.3s ease;
}


.active{
  background-color: #ffebf5 ;
  border-color: #c586a5;
}